<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.b1{
    font-size:70px;
    font-family: cursive;
}
 .danger{
     color:red;
     /* font-style:italic; */
     /* font-family: cursive; */
 }
 .msg{
     color:pink;
     text-decoration: underline;
 }
    </style>
  
</head>
<body>
    
    <!-- <h2 [class]="n1" class="msg">Batch 6 and7 </h2>
    <h2  [class]="n1">Nirmaan</h2>
    <h3 [class]="n1">ABC Technologies</h3>
<h3   [ngClass]="n5">XYZ</h3> -->
<!-- <button (click)="m()">Greet</button>
<button (click)="m()">wlcome {{name}} -->
< /button>

</body>

</html>



